<!DOCTYPE html>
<head>
{% include head.html %}
</head>

<body>
  <div id="wrapper">
    {% include header.html %}

    <div class="main">
      <div class="main-content post">
        <h1 class="title">{{ page.title }}</h1>

        {{ content }}

        <small class="meta">
          <span class="timestamp">{{ page.date | date_to_long_string }}</span>
        </small>

        {% if site.duoshuo_shortname && post.comments %}
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="{{ post.title }}" data-title="{{ post.title }}" data-url="{{ site.baseurl }}{{ post.url }}"></div>
        <!-- 多说评论框 end -->
        {% endif %}

      </div>

      <div class="sub-content">
        <div class="">
          {% for post in site.posts %}
              {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
              {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
                  {% if month != nmonth %}
                      {% if forloop.index != 1 %}</ul>{% endif %}
                      <h4 class="archives-caption">{{ post.date | date: '%B %Y' | upcase }}</h4><ul class="archives">
                  {% endif %}
                  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </div>

  {% include scripts.html %}
</body>
</html>


